{% set locale = 'en' == app.request.locale ? 'de' : 'en' %}
{% set flag = 'en' == app.request.locale ? 'de' : 'gb' %}

<a href="{{ path('home', {_locale: locale}) }}"><span class="flag-icon flag-icon-{{ flag }} flag-icon-squared"></span></a></li>