<ul class="social-bar">
    <li><a href="https://twitter.com/bicpi" title="Twitter" target="_blank"><i class="icon-twitter"></i></a></li>
    <li style="vertical-align:bottom"><a href="https://www.xing.com/profile/Philipp_Rieber" title="Xing" target="_blank"><img src="/img/xing.png" width="12" height="12"></a></li>
    <li><a href="https://github.com/bicpi" title="Github" target="_blank"><i class="icon-github-alt"></i></a></li>
    <li><a href="http://www.linkedin.com/pub/philipp-rieber/1a/669/539" title="LinkedIn" target="_blank"><i class="icon-linkedin"></i></a></li>
    <li><a href="https://www.facebook.com/philipp.rieber.5" title="Facebook" target="_blank"><i class="icon-facebook"></i></a></li>
    {#<li><a href="https://connect.sensiolabs.com/profile/bicpi" target="_blank">SensioConnect</a></li>#}
</ul>
