body {
    position: relative;
    padding-top: 60px;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    & > hr {
        margin: 60px 0;
    }
}

.hero-unit {
    padding: 60px 20px;
}


#jumbotron {
    background: url(../img/phil.jpg) -130px -75px no-repeat;
    min-height: 300px;
    max-height: 970px;
    border: 1px #E9F2F9 solid;
    padding-left: 450px;
    h1 {
        margin-left: -40px;
    }
    div {
      padding-left: 25px;
      padding-top: 10px;
      & * {
        display: inline;
      }
    }
}

.navbar .nav {
  li {
    a {
      font-weight: bold;
      text-align: center;
      border-left: 1px solid rgba(255,255,255,.75);
      border-right: 1px solid rgba(0,0,0,.1);
    }
    &:first-child a {
      border-left: 0;
      border-radius: 3px 0 0 3px;
    }
    &:last-child a {
      border-right: 0;
      border-radius: 0 3px 3px 0;
    }
  }
}

footer {
    min-height: 50px;
    text-align: center;
    background-color: #E9F2F9;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #BEDCF4;
}

hr {
    margin: 50px 0;
}

.inline.social-bar {
  a {
    text-decoration: none;
  }
  li {
      border-radius: 25px;
      padding: 0;
      height: 25px;
      background: #9CC4E4;
      margin-right: 10px;
      margin-top: 7px;
      width: 25px;
  }
  i, img {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }
}


.well {
    background-color: #E9F2F9;
    border-color: #BEDCF4;
}

ul.cloud li {
    line-height: 30px;
    padding-left: 12px;
    padding-right: 12px;
}


@media (max-width: 979px) {
    body {
        padding-top: 0;
    }

    #jumbotron {
        padding-top: 400px;
        padding-left: 0px;
        h1 {
            margin-left: 25px;
            border-radius: 5px;
            background: white;
            padding: 5px;
            border: 1px solid #DDD;
        }
        div {
          margin-left: 25px;
          margin-top: 10px;
          padding: 0;
          border-radius: 5px;
          background: white;
          padding: 5px;
          border: 1px solid #DDD;
        }
    }

    footer .container {
        width: auto;
        margin-right: auto;
        margin-left: auto;
    }
}
